* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Poppins, sans-serif; 
    scroll-behavior: smooth; 
}

a {
    text-decoration: none; 
}

ul {
    list-style: none; 
}

/*==main================================*/
#main {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    min-height: 400px; 
    background-color: #131313; 
}

/*==nav-bar=============================*/
.navigation {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 1200px; 
    width: 90%; 
    margin: 0 auto; 
    padding: 30px 0; 
}

.logo {
    font-size: 1.2rem; 
    text-transform: uppercase; 
    font-weight: 700; 
    color: #1a1a1a; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #ffffff; 
}

.menu { 
    display: flex; 
    align-items: center; 
}

.menu li a { 
    margin: 0 30px; 
    color: #c9c9c9; 
    letter-spacing: 0.5px; 
    font-weight: 400; 
    transition: color 0.3s ease; 
}

.nav-social { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.nav-social a { 
    color: #c9c9c9; 
    margin-left: 20px; 
    transition: color 0.3s ease; 
}

.nav-social a:first-child { 
    margin-left: 0; 
}

.menu li a:hover, 
.nav-social a:hover { 
    color: #ffffff; 
}

/*==main-content=========================*/
.main-content { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin: 50px auto; 
    max-width: 500px; 
    text-align: center; 
}

.main-img { 
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    object-position: center; 
    border-radius: 50%; 
    margin-bottom: 10px; 
}

.main-content strong { 
    color: #fefefe; 
    font-size: 1.6rem;  
    font-weight: 700; 
}

.main-content span { 
    color: #8d94b4; 
    font-weight: 400; 
    font-size: 0.9rem; 
}

.main-content h1 { 
    font-size: 3rem; 
    color: #ffffff; 
    line-height: 3.4rem; 
    margin-top: 20px; 
}

.main-content p { 
    color: #5e5e5e; 
    margin-top: 20px; 
    letter-spacing: 0.3px; 
}

/*==about-me================================*/
#about-me { 
    max-width: 800px; 
    width: 90%; 
    margin: 50px auto; 
}

#about-me strong { 
    text-transform: uppercase; 
    letter-spacing: 10px; 
    font-weight: 600; 
    font-size: 0.9rem; 
    color: #8d94b4; 
}

#about-me h2 { 
    font-size: 4rem; 
    line-height: 4.4rem; 
    color: #272727; 
    font-weight: 800; 
    margin-top: 10px; 
}

.about-text h3 { 
    font-size: 3rem; 
    line-height: 3.4rem; 
    color: #272727; 
    font-weight: 300; 
    margin-bottom: 20px; 
}

.about-text { 
    margin-top: 30px; 
    max-width: 85%; 
    margin-left: auto; 
}

.about-text p { 
    color: #1a1a1a; 
    margin-bottom: 20px; 
    line-height: 1.4rem; 
    letter-spacing: 0.3px; 
}

.about-text a { 
    width: 180px; 
    height: 45px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 5px; 
    background-color: #8d94b43b; 
    color: #1a1a1a; 
    font-size: 0.9rem; 
    font-weight: 500; 
}

.about-text a i { 
    margin-left: 10px; 
}

/*==our-services=====================*/
#our-services { 
    width: 100%; 
    margin: 50px auto 0; 
    background-color: #161616; 
    padding: 50px 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border-top: 1px solid #eeeeee; 
}

.services-heading { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 1200px; 
    width: 90%; 
    margin: auto; 
}

.services-heading-text strong { 
    color: #8d94b4; 
    font-size: 0.9rem; 
    font-weight: 600; 
    letter-spacing: 1px; 
}

.services-heading-text h2 { 
    font-size: 2.2rem; 
    color: #ffffff; 
    font-weight: 700; 
    max-width: 600px; 
}

.services-box-container, 
.team-box-container { 
    max-width: 1200px; 
    width: 90%; 
    margin: 40px auto; 
    overflow: hidden; 
    display: grid; 
    grid-gap: 30px; 
    grid-template-columns: repeat(3, 1fr); 
}

.service-box { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    max-width: 100%; 
    border: 1px solid #242424; 
    padding: 30px; 
    background-color: #1a1a1a; 
}

.service-box:hover { 
    border: 1px solid #8d94b4; 
}

.service-box i { 
    font-size: 2rem; 
    color: #ffffff; 
    width: 60px; 
    height: 60px; 
    border-radius: 5px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #8d94b43b; 
}

.service-box strong { 
    color: #ffffff; 
    font-size: 1.4rem; 
    margin-top: 20px; 
    font-weight: 600; 
}

.service-box p { 
    font-size: 0.9rem; 
    line-height: 1.4rem; 
    color: #e7e7e7; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical; 
    overflow: hidden;   
}

.service-box a { 
    height: 45px; 
    background-color: #8d94b43b; 
    color: #ffffff; 
    padding: 0 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 0.9rem; 
    font-weight: 500; 
    border-radius: 5px; 
    margin-top: 30px; 
}

.service-btn { 
    color: #ffffff; 
    font-size: 0.9rem; 
    margin-top: 10px; 
    text-align: center; 
    padding: 0 10px; 
}

.service-btn a { 
    color: #8d94b4; 
    text-decoration: underline; 
    font-weight: 600; 
}

/*==contact=============================*/
#contact { 
    width: 90%; 
    max-width: 950px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin: 80px auto; 
    text-align: center; 
}

.contact strong { 
    color: #8d94b4; 
    font-size: 0.87rem; 
    letter-spacing: 1px; 
    font-weight: 600; 
}

.contact h3 { 
    color: #1d1d1d; 
    font-size: 2.37rem; 
}